 
body {
    background-color:rgb(70, 79, 71);
}
.biaoti {
text-align: center;
padding-top: 30px;
}

.index {
font-size: 20px;
margin: auto;
width: 600px;
background-color: rgb(28, 195, 198);
margin-top: 10px;
}

.biaodan {
padding-left: 50px;
line-height:100%;
}

#tijiao{
width: 200px;
height: 50px;
font-size: 30px;
color:rgb(245, 245, 245);
background-color:#33cc7a;
margin-left: 150PX;
margin-top: 16PX;
margin-bottom: 20PX;
border-radius: 6px;
}